*{
    user-select: none;
}
/*Button general style with hover and click effect*/
button{
    border-radius: 5px;
    border: 0;
    background-color: #8F46D8;
    color: white;
    padding: 0 5px 0 5px;
    font-size: 1.5em;
}
button:hover{
    background-color: #AD75E6;
}
button:active{
    background-color: #8F46D8;
}

/*Status bar area*/
#status-area{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding-left: 20px;
    padding-right: 20px;
}
/*Status bar view score button*/
#maintitle-button{
    border: 0;
    background-color: lightgray;
    color:#8F46D8;
    font-weight: bolder;
}
/*Status bar Timer area*/
#timer-area{
    font-size: 2em;
    color:#8F46D8
}
/*Status bar timer*/
#timer{
    color:black
}

/*Main content container*/
.main-container{
    position: relative;
    top:10vh;
    margin-left: 30%;
    margin-right: 30%;
}

/*Quiz Starting page*/
#start-container{
    text-align: center;
    flex-direction: column;
}
#start-container h1{
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}
#start-button{
    font-size: 2em;
    margin-top: 10vh;
}

/*Quiz area*/
#quiz-container{
    flex-direction: column;
}
/*question area*/
#question-area{
    font-size: 1.5em;
    font-weight: bold;
}
/*answer area*/
#answer-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-height: 300px;
}

/*Quiz-finishing page*/
#finish-container{
    flex-direction: column;
}
#finish-container h2{
    font-size: 3em;
}
#final-score-area{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.5em;
}
#initial-input{
    border-radius: 20px;
    padding: 10px;
}

/*Highscore Page*/
#highscore-container{
    flex-direction: column;
}
#highscore-container h2{
    font-size: 3em;
}
#highscore-list{
    background-color: #AD75E6;
    list-style: decimal inside;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 1.5em;
}
